/*CSS Document*/

/*Estilos genéricos*/


/*abaixo declaração das configurações de estilo para o corpo das paginas da aplicação*/
body{
    margin:0px;
    font-family: Arial, Helvetica, Calibri, Verdana, Arial, sans-serif;
    font-size:11px;
    background-color:aliceblue ;
    text-align:center;
}
/*div que dimensiona amplitude da area util das paginas */
div#fundo{
    width:100%; /*800px; largura da div*/
    height:80%; /*altura da div*/
    /*border-right:2px solid #000000;*/
    border:0px solid #000000;
    margin:0px auto;
    align:center;
}

div#tabelas{
    width:100%;
    height:100%;
    font-size:12px;
    /*background-color:#ffffff;*/
    overflow:auto;
}


div#centro{
    width:99%;
    height:100%;
    font-size:12px;
    /*background-color:#ffffff;*/
    border: 1px solid #000000;
    overflow:auto;
}

div#cadastro{
    float:center;
    width:500px;
    /*height:30%;*/
    border:0px solid #000000;
    margin-top:50px;
    overflow:auto;
}

div#menu{
    float:left;
    width:200px;
    /*height:30%;*/
    border:0px solid #000000;
    margin-top:50px;
    overflow:auto;
}

div#frames{
    width:75%;
    height:100%;
    font-size:12px;
    /*background-color:#ffffff;*/
    border: 1px solid #000000;
    overflow:auto;
    margin-top: 1%;
}


div#cabecalho{
    width:100%;
    height:10%;
    background-color:#ffffff;
    border-top:2px solid #000000;
    border-bottom:1px solid #000000;
}

a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bolder; /*Determina a espessura visual da font*/
    color: #FF1493;
    text-decoration: none;
}
a:hover{ 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bolder; /*Determina a espessura visual da font*/
    color: #8B8989;
    text-decoration: none;
}
/* div de cabeçalho da pagina */
/*




div#rodape{
   width:800px;
   height:41px;
   border-bottom:1px solid #000000;
   text-align:center;
   background-color:#ffffff;
   border-bottom:2px solid #000000;
}*/
/*
div#imgtitulo{
    background-image:url(../imagens/titulo.png);
    float:center; /*Posisiona a imgem(centro, direita...)/
    width:700px;
       height:140px;
    background-repeat: no-repeat;/*imagem de fundo nao é repetido/
    margin-left:30px;
}
div#data{
    float:right;
    margin-top: 123px;
    margin-right:-1px;
}




/*Estilo padrão para LINKs/
a{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bolder; /*Determina a espessura visual da font/
    color: #FF1493;
    text-decoration: none;
}
a:hover{ 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bolder; /*Determina a espessura visual da font/
    color: #8B8989;
    text-decoration: none;
}

div#mensagem{
    margin-top:30px;
    margin-left:300px;
    margin-right:270px;
}
div#mostracom{
    margin-top:30px;
    margin-bottom:-50px;
    width: 700px;

}*/