@charset "UTF-8";
/* CSS Document */

* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

body { width: 100%; margin: 0 auto;position:relative; }

li { list-style-type: none; }

a img, fomr, fieldset{ background: none; border: none; }

h1 {
	background-color: #78af00;
	font-variant: small-caps;
	margin-bottom: 5px;
	color: #FFFFFF;
	padding: 2px 0 2px 10px;
}

h1 img {
	margin-right:5px;
	vertical-align: middle;
}

h2 {
	color:#333333;
	font-weight: bold;
	font-size: 0.8em;
	padding: 5px 0;
}

h2 span {
	color:#333333;
	font-weight: bold;
	padding-left: 10px;
}

p {
	font-size: 0.75em;
}

p a {
	 color:  #007cc7;
	 font-weight: bold;
	 font-size: 0.9em;
	 font-style: italic;
	 text-decoration: underline; 
}

.clear {
	clear: both;
}

.input {
	height: 16px;
	padding: 0 5px;
	font-style: italic;
	border: #666666 solid 1px;
	background-color: #FFFFFF;
	font-size: 0.7em;
	padding-top: 2px;
}

.button1 {
	background: url(images/button1.gif) repeat-x;
	border: solid 1px #4d7100;
	height: 20px;
	padding: 0 5px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.8em;
}

.button2 {
	background: url(images/button2.gif) repeat-x;
	border: solid 1px #b2b2b2;
	height: 20px;
	padding: 0 5px;
	color: #333333;
	font-weight: bold;
	font-size: 0.7em;
	/*float: right;*/
	margin-right: 5px;
}

blockquote {
	font-size: 0.75em;
	font-style: italic;
	}

/* HEADER */

#header {
	background-color: #007cc7;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	text-align:center;
}

#header a {
	display: block;
	padding: 10px 0 0 30px;
	color: #FFFFFF;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 16px;
}

#header a { text-decoration: none; }

#header a span {
	font-size: 0.7em;
	color: #FFFFFF;
	font-style: italic;
	font-weight: normal;
}

#sobrecentro {
	height: 10%;
	width: 100%;
	float: top;
	margin-top:2%;
	text-align:center;
	border:0px solid #000000;
}

/* HEADER END */

/* MENU */

#menu {
	height: 35%;
	width: 97%;
	float: left;
	border:0px solid #000000;
}

#menuCompromisso {
	height: 60%;
	width: 99%;
	float: left;
	border:0px solid #000000;
	margin: 0 3px;
}


#menu img {
	float: left;
}

#menu ul {
	float: left;
	margin: 0 2px;
	height: 150px;
	width: 95%;
}

#menu li a:link, #menu li a:visited {
	display: block;
	background-color: #78af00;
	width: 100%;
	height: 16px;
	padding-top: 2px;
	border-bottom: #4d7100 solid 1px;
	border-top: #8fd100 solid 1px;
	color: #FFFFFF;
	font-variant: small-caps;
	text-align: left;
	padding-left: 20px;
	font-size: 0.8em;
	text-decoration: none;
}

#menu li a:hover, #menu li a:active {
	display: block;
	background-color: #007cc7;
	width: 100%%;
	height: 16px;
	padding-top: 2px;
	border-bottom: #016fb2 solid 1px;
	border-top: #009cfb solid 1px;
	color: #FFFFFF;
	font-variant: small-caps;
	text-align: left;
	padding-left: 20px;
	text-decoration: none;
	font-size: 0.8em;
}

#menu li form {
	padding: 12px 0!important;
	padding: 11px 0;
	background-color: #007cc7;
	width: 50%;
	float: left;
	border-bottom: #016fb2 solid 1px;
	border-top: #009cfb solid 1px;
	text-align: center;
}

#menu li table {
	padding: 0 10px;
}	



/* MENU END */

/* CONTENT */

#content {
	/*width: 1000;
	float: right;*/
		width: 73%;
		height:80%;
		float:right;
		border:0px solid #000000;
}

#content table a:link, #content tabel a:visited {
	width: 20%;
	color: #78af00;
	text-align: left;
	font-size: 15px;
	
	/*
	padding-top: 2px;
	border-bottom: #4d7100 solid 1px;
	border-top: #8fd100 solid 1px;*/
	
	/*background-color: #78af00;
	font-variant: small-caps;
	padding-right: 20px;
	text-decoration: none;*/

	
}

#content table a:hover, #content table a:active {
	width: 20%;
	color: #007cc7;
	text-align: left;
	font-size: 15px;
		/*height: 16px;*/
	/*padding-top: 2px;
	border-bottom: #016fb2 solid 1px;
	border-top: #009cfb solid 1px;
	background-color: #007cc7;
	font-variant: small-caps;
	
	padding-right: 20px;
	text-decoration: none;*/

}



#left_content {
	float: left;
	width: 220px;
	padding-left: 2px;
	border-left: #007cc7 solid 98px;
	
}

#content_right {
	float: left;
	width: 658px;
	margin-left: 2px;
}

#content_center {
	float: center;
	width: 100%;
	height: 60%;
	border:0px solid #000000;
	margin-top: 10%;
}

.block2 {
	float: left;
	width: 325px;
} 


.block p, .block h2, .block ul, .block input, .block2 p, .block2 h2, .block2 ul, .block2 input {
	margin: 0 10px;
}

.block p, .block2 p {
	padding-bottom: 10px;
}

.block .img, .block2 .img {
	float: left;
	border: #78af00 solid 2px;
	margin: 4px 10px 0 10px;
}

.block p.border, .block2 p.border {
	border-bottom: #78af00 solid 1px;
}

.block input, .block2 input {
	margin-bottom: 5px;
}



#resol {
	text-align:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:fixed;
	-position:absolute;
	font-size: 10px;
	width:230px;
	top:0px;
	left:1280px;
	margin:0 auto;
	background:#bfc6d9;
	text-align:center;
} 

#resol h1 {
	background:none;
	font-size: 15px;
	letter-spacing:3px;
	padding:0px;
	margin:0px;
	border: 0px;
} 

#resol h2 {
	font-size:10px;
	letter-spacing:3px;
	padding:0px;
	margin:0px;
	border:0px;
	background:none;
}



/* CONTENT END */

/* FOOTER */

#footer {
	background-color: #007cc7;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	float: bottom;
	position:center;
	text-align:center;
}

#footer p {
	color: #FFFFFF;
	font-size: 0.7em;
	padding: 10px;
	font-weight: bold;
	text-align:center;
}

#footer a {
	font-size: 0.7em;
	color: #FFFFFF;
	font-weight: bold;
}

#footer_terms {
width: 100%; bottom: 0px; left: 0px; position: absolute; height: 40px; 
}
#footer_terms h1 {
	padding: 60px 0px 0px 0px; color: #c6c6c6;
	text-align:right;
	border:0px;
	font-variant:normal;font-size: 0.8em;font-weight: normal;
	text-decoration:none;background: none;
}

#footer_terms a  { text-decoration: underline;}

#footer_terms strong,#footer_terms a {
	color: #c6c6c6;
	font-weight: normal;
	background: none;
}

#holder {
	
	height:100%;
	width:100%;
	position: relative;
	margin:0 auto;
	border:0px solid #000000;
	
}

/* FOOTER END*/